*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(bg/background.jpg);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.blurred-box{
    position: relative;
    width: 340px;
    height:390px;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}

.blurred-box::after{
    content:'' ;
    width: 400px;
    height: 520px;
    background: inherit;
    position: absolute;
    left: -20px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255 ,255 ,0.05);
    filter: blur(5px);
}

.user-login-box{
    position: relative;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
}

.word1{
    margin-top: 15px;
    margin-bottom: 7px;
    margin-right: 57%;
    color: #fff;
}

.word2{
    margin-top: 15px;
    margin-bottom: 7px;
    margin-right: 47%;
    color: #fff;
}

.word3{
    margin-top: 15px;
    margin-bottom: 7px;
    margin-right: 48%;
    color: #fff;
}

.word4{
    margin-top: 15px;
    margin-bottom: 7px;
    color: #fff;
    font-size: 20px;
}

.word5{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.word5:hover{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(240, 194, 69);
}



input.user-username{
    margin-bottom: 4px !important;
}

input.user-username, input.user-password{
    display: block;
    width: 70%;
    height: 10%;
    opacity: 0.4;
    border-radius: 2px;
    padding: 15px 15px;
    border: none;
    margin: 0 auto;
    outline: none;
}


input.button {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 70%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}
input.button:hover {
    opacity: 0.9;
}
input.button:focus {
    box-shadow: 0px 0px 0px 3px black;
}
h2{
    font-size: small;
}

h3{
    font-size: small;
    color: white;
}

a{
    text-decoration: none;
}
